.App {
  text-align: center;
}
.color-nav {
  background-color: rgb(252, 47, 0);
}

.nav-menuText-colour {
  color: white;
}
.nav-icon-margin {
  margin-right: 0.3em;
}

.article-query-container {
  margin-top: 2em;
  text-align: center;
}

.article-query-links {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.3em;
}

.article-query-links:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
  text-decoration-color: rgb(252, 47, 0);
  transform: scale(1.05);
}

.plus {
  transition: all 0.2s ease-in-out;
  margin-right: 0.1em;
}

.article-query-links:hover .plus {
  color: rgb(252, 47, 0);
}
