.App {
  text-align: center;
}
.color-nav {
  background-color: rgb(252, 47, 0);
}

.nav-menuText-colour {
  color: white;
}
.nav-icon-margin {
  margin-right: 0.3em;
}

.article-query-container {
  margin-top: 2em;
  text-align: center;
}

.article-query-links {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.3em;
  margin-bottom: 0.7em;
}

.article-query-links:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
  text-decoration-color: rgb(252, 47, 0);
  color: rgb(252, 47, 0);
  transform: scale(1.05);
  cursor: pointer;
}

.plus {
  transition: all 0.2s ease-in-out;
  margin-right: 0.1em;
}

.article-query-links:hover .plus {
  color: rgb(252, 47, 0);
  cursor: pointer;
}

.article-card-container {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 2em;
  border: 0.25px solid rgb(248, 159, 138);
  border-radius: 10px;
}

.article-card-header {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 0.3em;
  font-weight: 600;
  color: rgb(252, 47, 0);
}
.article-card-header-no-hover {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 0.3em;
  font-weight: 600;
  color: rgb(252, 47, 0);
}
.article-card-header:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
  transform: scale(1.05);
  cursor: pointer;
}

.article-list-layout {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.article-card-title {
  color: rgb(252, 47, 0);
  font-weight: 800;
  margin-left: 1em;
  margin-right: 1em;
}

.article-list-card-title {
  color: rgb(252, 47, 0);
  font-weight: 800;
  margin-left: 1em;
  margin-right: 1em;
}

.article-list-card-title:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.article-card-body {
  margin: 1em;
}

.article-card-read-button {
  background-color: rgb(252, 47, 0);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 4px;
}

.article-card-read-button1 {
  background-color: white;
  color: rgb(252, 47, 0);
  border: 2px solid rgb(252, 47, 0);
}

.article-card-read-button1:hover {
  background-color: rgb(252, 47, 0);
  color: white;
  cursor: pointer;
}

.clock {
  padding-right: 4px;
}

.article-card-vote-count {
  margin-bottom: 0.4em;
  color: rgb(252, 47, 0);
}

.up-arrow {
  color: rgb(0, 0, 0);
}

.down-arrow {
  color: rgb(0, 0, 0);
}

.up-arrow:hover {
  color: rgb(252, 47, 0);
  transform: scale(1.05);
  cursor: pointer;
}

.down-arrow:hover {
  color: rgb(252, 47, 0);
  transform: scale(1.05);
  cursor: pointer;
}

.article-card-footer {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.comment-icon {
  margin-right: 0.2em;
  color: rgb(0, 0, 0);
}

.article-comments {
  margin-bottom: 0.5em;
}

.article-topic-header {
  color: rgb(252, 47, 0);
  text-align: center;
  margin-bottom: 1em;
  font-weight: 700;
}

.error-page {
  margin-top: 1.5em;
  text-align: center;
  color: rgb(252, 47, 0);
}

.link-colour {
  color: rgb(252, 47, 0);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
}

.link-colour:hover {
  text-decoration-color: rgb(252, 47, 0);
  color: #fc2f00;
}

.computer-image {
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.article-individual-card-container {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 2em;
  border: 0.25px solid rgb(248, 159, 138);
  border-radius: 10px;
}

.article-card-edit-delete-spacing {
  margin-top: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.hidden {
  display: none;
}

.article-card-add-comment {
  margin-top: 0.9em;
}

.comment-card-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2em;
  border: 0.25px solid rgb(248, 159, 138);
  border-radius: 10px;
}

.comment-card-header {
  margin-top: 0.5em;
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.3em;
  font-weight: 600;
  color: rgb(252, 47, 0);
}
.comment-card-header:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
  transform: scale(1.05);
  cursor: pointer;
}

.comment-card-body {
  margin: 1em;
}

.comment-card-footer {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.3em;
  margin-bottom: 0em;
  font-weight: 600;
}

.comment-card-vote-count {
  margin-bottom: 0.4em;
  color: rgb(252, 47, 0);
}

.comment-up-arrow {
  color: rgb(0, 0, 0);
}

.comment-down-arrow {
  color: rgb(0, 0, 0);
}

.comment-up-arrow:hover {
  color: rgb(252, 47, 0);
  transform: scale(1.05);
  cursor: pointer;
}

.comment-down-arrow:hover {
  color: rgb(252, 47, 0);
  transform: scale(1.05);
  cursor: pointer;
}

.orange-highlight {
  color: rgb(252, 47, 0);
}

.greyed-out {
  color: rgb(121, 121, 121);
  opacity: 50%;
}

.article-card-add-comment {
  margin-top: 0.7em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 1.5em;
}

.article-card-post-comment {
  margin-top: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 1em;
}

.comment-form-container {
  max-width: 500px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.add-comment-container {
  margin: 0 auto;
}

.button-padding {
  margin-left: 1em;
}

.order-articles-icon {
  margin-bottom: 1em;
}
.order-articles-icon:hover {
  color: rgb(252, 47, 0);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.25em;
  transform: scale(1.05);
}

.error-home:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-article-card-title {
  color: rgb(252, 47, 0);
  font-weight: 800;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.post-article-form-field {
  color: rgb(252, 47, 0);
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
}

.add-article-form-container {
  max-width: 600px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}
